<ns-action-bar
  [title]="isLogin ? 'Login' : 'Signup'"
  [showBackbutton]="false"
  [hasMenu]="false"
></ns-action-bar>
<StackLayout class="form" [formGroup]="form">
  <StackLayout class="input-field">
    <Label
      [ngClass]="{ invalid: !emailControlIsVaild }"
      class="label"
      text="E-mail"
    ></Label>
    <TextField
      [autocorrect]="false"
      [autocapitalizationType]="false"
      keyboardType="email"
      class="input"
      returnKeyType="next"
      formControlName="email"
      #emailEl
    ></TextField>
    <Label
      *ngIf="!emailControlIsVaild"
      text="Please enter a valid e-mail"
    ></Label>
  </StackLayout>
  <StackLayout class="input-field">
    <Label
      [ngClass]="{ invalid: !passwordControlIsVaild }"
      class="label"
      text="Password"
    ></Label>
    <TextField
      hint="min 6 characters"
      [secure]="true"
      [autocorrect]="false"
      [autocapitalizationType]="false"
      returnKeyType="done"
      class="input"
      formControlName="password"
      #passwordEl
    ></TextField>
    <Label
      *ngIf="!passwordControlIsVaild"
      text="Please enter a valid Password"
    ></Label>
  </StackLayout>

  <Button
  [text]="isLogin ? 'Signup Instead' : 'Login Instead'"
  class="btn-flat"
(tap)="onSwitch()"
></Button>

  <Button
    text="Login"
    class="btn btn-primary"
    nsRouterLink="/challenges"
    [clearHistory]="true"
    [isEnabled]="form.valid"
    (tap)="onSubmit()"
  ></Button>
</StackLayout>
