/* Add mobile styles for the component here.  */
@import '../../theme/colors';

.form {
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.input-field {
    width: 80%;

    .label {
        color: $primary;
        font-weight: bold;
    }
    .input {
        border-bottom: 2;
        border-bottom: $primary;
        width: 100%;
    }

}
