/* Add mobile styles for the component here.  */
@import '../../theme/colors';

GridLayout {
    background-image:url("res://mountain-690104_640");
    background-repeat:no-repeat;
    background-position:center;
    background-size: cover;
}