<!-- <ScrollView>
  <StackLayout>
    <label
      horizontalAlignment="center"
      class="title"
      [text]="challenge"
      fontSize="20"
      *ngFor="let challenge of challenges"
    ></label>
  </StackLayout>
</ScrollView> -->

<ListView [items]="challenges" (itemTap)="onItemTap($event)">
  <ng-template>
    <GridLayout rows="40,auto" columns="50,*">
      <Label text="item" row="0" col="0" rowSpan="2"></Label>
      <Label text="Item Content" row="0" col="1" rowSpan="1"></Label>
      <Label text="Item Content 2nd row" row="1" col="1" rowSpan="1"></Label>
    </GridLayout>
  </ng-template>

</ListView>
