<!-- <ScrollView>
  <StackLayout>
    <label
      horizontalAlignment="center"
      class="title"
      [text]="challenge"
      fontSize="20"
      *ngFor="let challenge of challenges"
    ></label>
  </StackLayout>
</ScrollView> -->

<!-- <ListView [items]="challenges" (itemTap)="onItemTap($event)" iosEstimatedRowHeight="65">
  <ng-template let-challenge="item" let-i="index">
    <GridLayout rows="40,20" columns="50,*">
      <Label [text]="i" row="0" col="0" rowSpan="2"></Label>
      <Label [text]="challenge" row="0" col="1" rowSpan="1"></Label>
      <Label text="Item Content 2nd row" row="1" col="1" rowSpan="1"></Label>
    </GridLayout>
  </ng-template>
</ListView> -->

<StackLayout>
    <Label class="title" [text]="challengeTitle" horizontalAlignment="center"></Label>

</StackLayout>
