<ns-action-bar [title]="'Tabs'"></ns-action-bar>

<TabView androidTabsPosition="bottom" *ngIf="!isLoading">
  <page-router-outlet *tabItem="{ title: 'Today', iconSource: 'res://check' }" name="today">
  </page-router-outlet>

  <page-router-outlet
    *tabItem="{ title: 'Current Challenge', iconSource: 'res://trophy' }"
    name="currentChallenge"
  >
  </page-router-outlet>
</TabView>

<FlexboxLayout *ngIf="isLoading" justifyContent="center" alignItems="center">
  <ActivityIndicator [busy]="isLoading"></ActivityIndicator>
</FlexboxLayout>
