<ActionBar [title]="title" (loaded)="onLoadedActionBar()">
  <NavigationButton
    *ngIf="canGoBack"
    (tap)="onGoBack()"
    text="Back"
    android.systemIcon="ic_menu_back"
  ></NavigationButton>
  <NavigationButton
    (tap)="onToggleMenu()"
    *ngIf="android && hasMenu"
    icon="res://menu"
  ></NavigationButton>
  <ActionItem
    (tap)="onToggleMenu()"
    ios.position="left"
    *ngIf="!android && hasMenu"
  >
    <label class="fa m-5" text="&#xf0c9;"></label>
  </ActionItem>

  <ng-content>
  </ng-content>
</ActionBar>
