@import "../../theme/colors";

.page {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20;
}

.week-day-label {
  color: $secondary;
  font-weight: bold;
  margin: 15 0;
}
.day {
  width: 50;
  height: 50;
  border-color: $primary;
  border-width: 1;
  border-radius: 50%;
  color: $primary;

  justify-content: center;
  align-content: center;
  margin: 10;
}

.completed {
    background-color: $success;
    color: white;
}

.failed {
    background-color: $fail;
    color: white;
}
.not-settable {
    background-color: #ccc;
    color: #535353;
}
.fa {
  font-family: 'FontAwesome', 'Font-Awesome';
}
